/* Card.css */
.comment-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e8ed; 
  border-radius: 8px;
  background-color: #FFF9DB; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  margin: 10px;
  padding: 15px;
  max-width: 600px; 
  width: 100%;
}

.comment-card h3 {
  font-size: 1.2rem; 
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  color: #1da1f2; 
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
}

.card-content {
  margin-bottom: 10px;
}

.card-content img {
  width: 100%; 
  height: 220px;
  border-radius: 8px;
  max-height: 400px; 
  object-fit: cover; 
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author-info p {
  margin-left: 10px; 
  color: #24292e;; 
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
}

.user-icon {
  color: #1da1f2; 
}


.card-content {
  margin: 10px 0;
  line-height: 1.5;
  font-weight: 400;
  color: #24292e;

}

.card-content p{
  margin-top: 10px;
}

.card-message {
  background-color: #ffffff; 
  padding: 10px;
  border-radius: 5px;
  color: #24292e; 
  margin-top: 10px;
}



.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e8ed;
  padding-top: 10px;
}

.like-icon {
  margin-right: 8px; 
}

.comment-btn-container {
  display: flex;
  justify-content: center;
}

.upvote-button,
.delete-button {
  background: none;
  border: none;
  color: #1da1f2; 
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-weight: 400;
}

.upvote-button:hover,
.delete-button:hover {
  color: #0b84d0; 
}

.card-footer button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-footer .delete-button {
  color: #e0245e; 
}


.comments-list {
  margin-top: 10px;
}


.comment {
  border-top: 1px solid #e1e8ed;
  padding-top: 10px;
  margin-top: 10px;
}


.comment p {
  margin: 0;
}

.comment small {
  color: #657786; 
}


.comments-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}


.comments-section input {
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.add-comment-btn,
.delete-comment-btn {
  border: none;
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  width: 100%;
}

.add-comment-btn:hover,
.delete-comment-btn:hover {
  background-color: #1880c1; 
}

.delete-comment-btn {
  background-color: #e0245e;
}

.delete-comment-btn:hover {
  background-color: #aa1029; 
}

.delete-button{
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 0;
  color: #e0245e;
}
.delete-button:hover{
  color: #bb1f50;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .comment-card {
    padding: 10px;
    margin: 5px;
  }

  .comment-card h3 {
    font-size: 1.25rem;
  }

  .card-content p {
    font-size: 0.875rem;
  }

  .card-footer button {
    font-size: 0.875rem;
  }

  .comments-section input {
    font-size: 0.875rem;
  }

  .add-comment-btn,
  .delete-comment-btn {
    font-size: 0.875rem;
  }
}


@media (max-width: 480px) {
  .comment-card {
    padding: 8px;
    margin: 4px;
  }

  .comment-card h3 {
    font-size: 1.125rem;
  }

  .card-content p {
    font-size: 0.75rem;
  }

  .card-footer button {
    font-size: 0.75rem;
  }

  .comments-section input {
    font-size: 0.75rem;
  }

  .add-comment-btn,
  .delete-comment-btn {
    font-size: 0.75rem;
  }
}






