/* .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  }

  .card h3{
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card img {
    max-width: 100%;
    width: 200px;
    height: 150px;
    border-radius: 4px;
  }
  
  .upvote-button, .delete-button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    width: auto;
    border-radius: 6px;
    font-weight: 300;
    margin: 5px;
    color: #F2F2F2;
    background-color: #323232;
    transition: background-color 200ms, box-shadow 200ms;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .upvote-button {
    background-color: #4c58b5;
    color: white;
    margin: 10px;
  }
  
  .delete-button {
    background-color: red;
    color: white;
  }
  

  .upvote-button:hover {
    background-color: #323232;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upvote-button:active {
    background-color: #4c58b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.upvote-button:focus {
    outline: 2px solid #323232;
    background-color: #4c58b5;
    outline-offset: 2px;
}


.delete-button:hover {
    background-color: #323232;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}


.delete-button:focus {
    outline: 2px solid #323232;
    background-color: red;
    outline-offset: 2px;
} */
 
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h3 {
  text-align: center;
  margin: 0;
  flex: 1;
}

/* .card-img {
  max-width: 100%;
  height: 150px;
  border-radius: 4px;
  margin: 16px 0;
} */

.card img {
  max-width: 100%;
  width: 200px;
  height: 150px;
  border-radius: 4px;
}

.card p {
  margin-top: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.upvote-button, .delete-button {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 300;
  width: auto;
  margin: 5px;
  color: #F2F2F2;
  background-color: #323232;
  transition: background-color 200ms, box-shadow 200ms;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upvote-button {
  background-color: #4c58b5;
  color: white;
 
}

.delete-button {
  background-color: red;
  color: white;

}

.upvote-button:hover, .delete-button:hover {
  background-color: #323232;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upvote-button:focus, .delete-button:focus {
  outline: 2px solid #323232;
  outline-offset: 2px;
}

@media (max-width: 600px) {
  .card {
    padding: 12px;
    margin: 12px;
  }

  .card h3 {
    font-size: 18px;
  }

  .upvote-button, .delete-button {
    font-size: 12px;
    padding: 8px 16px;
  }
}
