@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
.space-card-container{
    margin: 5px 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.space-card-container > h1{
    text-align: center;
    margin-bottom: 20px;
}

.create-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0;
    width: 50%;
}
.create-card-btn {
    font-family: "Rubik Mono One", monospace;
   font-weight: 200;
   font-style: normal;
   font-size: 12px;
    padding: 10px 20px;
    width: auto;
    border-radius: 6px;
    font-weight: 300;
    margin: 5px;
    color: #24292e; 
    background-color: #ffdd57;
    transition: background-color 200ms, box-shadow 200ms;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-card-btn:hover {
    background-color: #323232;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #F2F2F2;
}

.create-card-btn:active {
    background-color: #323232;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.create-card-btn:focus {
    outline: 2px solid #323232;
    background-color: #4c58b5;
    outline-offset: 2px;
}


.create-card-btn {
    position: relative;
    overflow: hidden;
}

.create-card-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 200%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(255,255,255,0));
    transition: left 0.3s ease;
}

.create-card-btn:hover::before {
    left: -50%;
}


.space-five-btn{
    background-color: #323232;
    font-weight: 300;
}

.back-link{
    text-decoration: none;
    color: #323232; 
    margin-top: 10px;
}


.cards-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  