@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shadows+Into+Light+Two&display=swap');
*{
  box-sizing: border-box;
  margin: 0;

}

body{
  background-color: #F2F2F2;
  font-family: "Raleway", sans-serif;
}

footer {
    width:100%;
    background-color:#323232;
    color: #F2F2F2;
    padding: 20px;
    opacity: 0.5;
    margin-top: auto;
   
  }
  
  footer p {
    margin: 0;
  }