.banner {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  padding: 20px;
}

.banner img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  /* margin-top: 10px; */
}

.login-toggle {
  text-decoration: none;
  color: #323232;
  font-size: 1.2rem;
  font-weight: 500;
}

.login-toggle:hover {
  color: #e9cc59;
}